<div class="border-2">
  Could not solve with flex. Used grid.
  <div
    class="grid gap-x-2 items-center justify-center"
    style="
      display: grid;
      grid-template-areas:
        'sales_code_input_label version_code_input_label dryrun_input_label .'
        'sales_code_input version_code_input dryrun_input search_button';
    "
  >
    <!-- Labels Row -->
    <label for="sales_code_input" style="grid-area: sales_code_input_label"
      >Sales Code</label
    >
    <label for="version_code_input" style="grid-area: version_code_input_label"
      >Version Code</label
    >
    <label for="dryrun_input" style="grid-area: dryrun_input_label"
      >Dryrun</label
    >

    <!-- Inputs Row -->
    <select
      id="sales_code_input"
      class="border"
      style="grid-area: sales_code_input"
    >
      <option>Sale Option 1</option>
    </select>
    <select
      id="version_code_input"
      class="border"
      style="grid-area: version_code_input"
    >
      <option>Version Option 1</option>
    </select>
    <input
      id="dryrun_input"
      type="checkbox"
      class="border h-5"
      style="grid-area: dryrun_input"
    />
    <button class="border" style="grid-area: search_button">Search</button>
  </div>
</div>
