.app {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  height: 200px;
  background-color: green;
  border: thick solid rgb(1, 65, 1);
  &__item {
    display: flex;
    align-items: center;
    background-color: red;
    border: thick solid rgb(65, 1, 1);
  }
}
