.app {
  &__row-container {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-color: green;
    border: thick solid rgb(1, 65, 1);
  }
  &__column-container {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    background-color: green;
    border: thick solid rgb(1, 65, 1);
  }
  &__item {
    background-color: red;
    border: thick solid rgb(65, 1, 1);
  }
}
